:root {
	--alabaster: #FAFAFA;
	--alto: #d9d9d9;
	--aluminum: #979797;
	--button-light-color: #009FF1;
	--button-dark-color: #0080DB;
	--button-secondary-light-color: #b7b7b7;
	--button-secondary-dark-color: #626262;
	--charcoal: #464646;
	--dim-gray: #6a6a6a;
	--gray: #919191;
	--light-gray: #d1d1d1;
	--seashell: #f1f1f1;
	--star-dust: #9E9E9E;
	--strong-red: #cc2a2c;
	--silver: #c0c0c0;
	--shuttle-gray: #64686c;
	--white: #FFFFFF;
	--white-smoke: #F8F8F8;
	--grey-border: #e6e6e6;
}

/**
 * Community Events Stylesheet
 * The stylesheet for Community Events.
 *
 * Override this stylesheet in your own theme by creating a file at
 * [your-theme]/tribe-events/community/tribe-events-community.css
 *
 * @package Tribe__Events__Community__Community_Events
 * @since  1.0
 * @TODO refactor single media query to nested contextual queries
 * @author Modern Tribe Inc.
 *
 */

/**
 * TABLE OF CONTENTS
 *
 *  Events List
 *
 */

/*---------------------------------------*\
	#Page Styles
\*---------------------------------------*/

.tribe-community-events-content {
	width: 100%;
	margin: 0 auto;
	clear: both;
	box-sizing: border-box;

	.tribe-community-events-list-title,
	.add-new {
		display: inline-block;
		vertical-align: middle;

		a {
			color: #fff;
		}
	}

	.tribe-community-events-list-title {
		font-size: 22px;
		margin: 0;
	}

	.add-new {
		margin-left: 20px;
	}

	.tribe-event-list-search {
		display: block;
		float: right;
		width: 300px;
		max-width: 100%;
		margin-top: 5px;

		input[type="search"] {
			background: #fff url(../images/searchx2.png) no-repeat 15px center;
			background-size: 20px;
			border: 1px solid var(--grey-border);
			display: inline-block;
			font-size: 14px;
			margin: 0;
			padding: 6px 8px 6px 45px;
			width: 100%;

			@media screen and (max-width: 800px) {
				margin-top: 20px;
				width: 100%;
			}

			&:focus {
				border-color: #0793e4;
				box-shadow: 1px 1px 5px rgba(7, 147, 228, .2);
			}
		}

		input[type="submit"] {
			display: none;
		}
	}

	.tribe-nav {
		clear: both;
		display: block;
		margin: 20px 0;

		.tribe-pagination {
			margin: 2px 0;
			padding: 0;
			min-height: auto;
			display: inline-block;
			float: right;

			a:active,
			a:focus,
			a:hover {
				box-shadow: none;
			}

			a,
			.current {
				border: 1px solid var(--grey-border);
				border-radius: 5px;
				cursor: pointer;
				display: inline-block;
				font-size: 14px;
				font-weight: normal;
				line-height: 27px;
				height: 28px;
				margin: 0 5px;
				padding: 0;
				text-align: center;
				width: 30px;
			}

			a:hover {
				border: 1px solid var(--star-dust);
			}

			.current {
				background: var(--button-secondary-dark-color) linear-gradient(to bottom, var(--button-secondary-light-color) 0%, var(--button-secondary-dark-color) 100%);
				color: #fff;
				display: inline-block;
				cursor: default;
			}
		}

		a.tribe-button {
			color: #fff;
			letter-spacing: 0;
		}

		.tribe-upcoming {
			border-top: 1px solid var(--button-secondary-light-color);
			border-left: 1px solid var(--button-secondary-light-color);
			border-bottom: 1px solid var(--button-secondary-light-color);
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.tribe-past {
			border-top: 1px solid var(--light-gray);
			border-right: 1px solid var(--light-gray);
			border-bottom: 1px solid var(--light-gray);
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		.my-events-display-options {
			color: #B8B8B8;
			display: inline-block;
			padding-right: 10px;
			position: relative;
			z-index: 1;
			vertical-align: top;

			@media screen and (max-width: 600px) {
				padding-left: 0;
			}

			a {
				color: #fff;
				padding: 10px 20px;
				margin:0 5px 0 0;
			}

			a.tribe-button-tertiary {
				color: var(--shuttle-gray);
				margin: 0;
			}

		}

		.table-menu-wrapper {
			display: inline-block;
			padding: 0;
			position: relative;
			z-index: 1;

			@media screen and (max-width: 1024px) {
				display: none;
			}

			a.tribe-button-tertiary {
				color: var(--shuttle-gray);
				margin: 0;
			}
		}
	}
}

/*---------------------------------------*\
	#Events-List
\*---------------------------------------*/

div.tribe-community-events-list {
	padding: 20px;
}

.tribe-community-events-list {
	color: var(--dim-gray);
	border: 1px solid var(--grey-border);
	border-radius: 5px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
	border-collapse: separate;
	border-spacing: 0;
	margin: 0;
	width: 100%;

	th {
		border: 0;
		margin: 0;
		table-layout: unset;
	}

	th {
		border-bottom: 1px solid #E4E4E4;
		font-size: 90%;
		padding: 20px 10px;
		text-transform: uppercase;
	}

	td {
		border-bottom: 1px solid #E4E4E4;
		font-size: 90%;
		padding: 20px 10px;

		@media screen and (max-width: 800px) {
			text-align: left;
		}
		@media screen and (max-width: 600px) {
			text-align: left;
		}

		.row-actions {
			a {
				color: var(--silver);

				&:visited,
				&:active {
					color: var(--silver);
				}

				&:hover {
					color: var(--button-dark-color);
				}
			}
		}

		.icon {
			width: 16px;
			height: auto;
		}

		.event-status {
			position: relative;
			display: inline-block;

			@media screen and (min-width: 800px) {
				display: block;
				text-align: center;
				width: 100%;

				&:hover {
					.hover {
						opacity: 1.0;
						visibility: visible;
						transform: translateY(0);
						transition-delay: 200ms;
					}
				}
			}

			.icon {
				display: none;

				@media screen and (min-width: 800px) {
					display: inline;
				}
			}

			.hover {
				@media screen and (min-width: 800px) {
					background-color: #676767;
					border-radius: 5px;
					color: #fff;
					left: 0;
					margin-left: -20px;
					margin-bottom: 10px;
					opacity: 0;
					padding: 5px 10px;
					position: absolute;
					bottom: 100%;
					transition: all 0.15s linear;
					transform: translateY(-15px);
					transition-delay: 200ms;
					visibility: hidden;
					width: 100px;

					&:after {
						border-color: #676767 transparent transparent transparent;
						border-style: solid;
						border-width: 7px 7.5px 0 7.5px;
						bottom: -7px;
						content: '';
						display: block;
						height: 0;
						left: 50%;
						margin-left: -7px;
						position: absolute;
						width: 0;
					}
				}
			}
		}
	}

	.column-header-status {
		width: 80px;
		text-align: center;
	}

	.column-header-title {
		min-width: 200px;
	}

	thead {
		font-weight: bold;
	}

	tbody {
		tr {
			background-color: #ffffff;

			&.selected {
				background-color: #B0BED9;
			}

			&:last-child {
				border-bottom: 0;
			}
		}
	}

	tr:first-of-type {
		td {
			border-top: 1px solid #e4e4e4;
		}
	}

	&.cell-border tbody th,
	&.cell-border tbody td {
		border-top: 1px solid #ddd;
		border-right: 1px solid #ddd;
	}

	&.cell-border tbody tr th:first-child,
	&.cell-border tbody tr td:first-child {
		border-left: 1px solid #ddd;
	}

	&.cell-border tbody tr:first-child th,
	&.cell-border tbody tr:first-child td {
		border-top: none;
	}

	&.stripe tbody tr.odd,
	&.display tbody tr.odd {
		background-color: var(--alabaster);
		border-bottom: 1px solid var(--silver);
	}

	&.stripe tbody tr.odd.selected,
	&.display tbody tr.odd.selected {
		background-color: #acbad4;
	}

	&.hover tbody tr:hover,
	&.display tbody tr:hover {
		background-color: #f6f6f6;
	}

	&.hover tbody tr:hover.selected,
	&.display tbody tr:hover.selected {
		background-color: #aab7d1;
	}

	&.nowrap {
		th,
		td {
			white-space: nowrap;
		}
	}

	.table-menu-btn {
		cursor: default;
		outline: none;
	}

	.title {
		font-size: 110%;
	}

	a {
		color: var(--dim-gray);
		text-decoration: none;

		&:hover {
			color: #0095E9;
		}
	}

	&.display {
		tbody {
			th,
			td {
				border-left: 0;
				border-right: 0;

				@media screen and (min-width: 800px) {
					border-top: 0;
				}
			}

			tr.parent {
				td {
					border-bottom: 0;
				}
			}
		}
	}

	tr.odd.parent {
		background-color: #ffffff;
		border: 0;
	}

	tr.child {
		table {
			td {
				.icon {
					display: block;
					margin: 0 auto;
					position: relative;
					width: 16px;
				}
			}
		}
	}

	.view,
	.edit {
		a {
			color: #bbb;

			&:hover,
			&:visited,
			&:active {
				color: #0095E9;
			}
		}
	}
}

.table-menu {
	background-color: #fff;
	border-right: 1px solid var(--light-gray);
	border-bottom: 1px solid var(--light-gray);
	border-left: 1px solid var(--light-gray);
	left: 2px;
	padding: 10px;
	position: absolute;
	width: 140px;
	z-index: 1;

	a {
		display: block;
		line-height: 2;
	}

	ul {
		list-style-type: none;
		margin-bottom: 5px;
		margin-left: 5px;
		margin: 0;
		padding: 0;

		li {
			margin-left: 0;
			list-style-type: none;
		}
	}

}

.table-menu-hidden {
	left: -999em;
	right: auto;
}


.tribe-responsive-table-container {
  max-width: 100%;
  overflow: auto;
  overflow-y: hidden;
}

/*---------------------------------------*\
	Edit-Organizer and Edit-Venue Views
\*---------------------------------------*/

.tribe_community_edit {

	.form.organizer {

		.events-community-post-content {
			margin: 1.5em 0 3em;
		}
	}

	.form.venue {

		.tribe-community-event-info {
			margin: 0;
		}

		.events-community-post-content {
			margin: 1.5em 0 3em;
		}
	}
}

/*---------------------------------------*\
	Theme Compatibility
\*---------------------------------------*/

.tribe-theme-twentyeleven {
	.tribe-community-events-content {
		padding: 1.625em 7.6%;
	}
}

.tribe-theme-twentythirteen {
	.tribe-community-events-content {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.tribe-theme-x {
	.tribe-community-events-content {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.button {
		text-shadow: none;
	}
}