html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a:hover {
	color:$accent-color;
	text-decoration:none;
}

a, .icon, span, input {
	transition: all .25s;
}

ul { list-style-type:none; padding:0;}

input[type="submit"] {
	cursor: pointer; /* not working */
}

hr.default {
	display: block;
	unicode-bidi: isolate;
	-webkit-margin-before: 0.5em;
	-webkit-margin-after: 0.5em;
	-webkit-margin-start: auto;
	-webkit-margin-end: auto;
	overflow: hidden;
	border-style: inset;
	border-width: 1px;
	width:75%;
}

hr.style-page {
	border-top: 3px double #8c8b8b;
}


#test-blade {
	height:600px;
	background-color:pink;

}



