/*
 * #TYPOGRAPHY
 *
 * Overwrite some Bootstrap some variables here and establish
 * our font stack, responsive modular scale,
 *
 * System Font Stacks might make sense here.
 * https://css-tricks.com/shipping-system-fonts-github-com/#more-266947
 *
 *
 *
 */



/*
 * Set up System Font
 *
 * source: https://github.com/jonathantneal/system-font-css/blob/gh-pages/system-font.css
 */

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 300;
	src: local(".SFNSText-LightItalic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Light Italic"), local("Ubuntu Light Italic"), local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 400;
	src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 400;
	src: local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Italic"), local("Ubuntu Italic"), local("Roboto-Italic"), local("DroidSans"), local("Tahoma");
}

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 500;
	src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 500;
	src: local(".SFNSText-MediumItalic"), local(".HelveticaNeueDeskInterface-MediumItalicP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold Italic"), local("Ubuntu Medium Italic"), local("Roboto-MediumItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 700;
	src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"), local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
	font-family: system-ui;
	font-style: italic;
	font-weight: 700;
	src: local(".SFNSText-BoldItalic"), local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"), local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic"), local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}

$font-family-sans-serif: system-ui;

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Raleway-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Raleway-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Raleway-Black';
  src: url('../fonts/Raleway-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Raleway-Black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Raleway-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Raleway-BlackItalic';
  src: url('../fonts/Raleway-BlackItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Raleway-BlackItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway-BlackItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Raleway-BlackItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Raleway-Thin';
  src: url('../fonts/Raleway-Thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Raleway-Thin.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway-Thin.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Raleway-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
}

/*
 * Modular Scale and Typi Mappings
 */

/* Modular Scale */
$ms-base: 1em;
$ms-ratio: $minor-third;

/* Typi */
// See: https://github.com/zellwk/typi

$breakpoints: (
  small : 576px, /*  568px */
  medium: 768px, /* 992  */
  large : 992px, /* 1200  */
  xlarge : 1200px /* 1600  */
);

@include typi-init;

$typi: (
      base: (
      null: (18px, 1),
      small: (20px, 1),
      large: (22px, 1),
      xlarge: (24px, 1),
    ),

    h1-map: (
      null: (ms(3), 1),
      small: (ms(4), 1),
      medium: (ms(6), 1),
      large: (ms(7), 1)
      ),

    h2-map: (
      null: (ms(3), .8),
      small: (ms(4), .8),
      medium: (ms(5), .8),
      large: (ms(6), .8)
      ),

    h3-map: (
      null: (ms(2), .8),
      small: (ms(3), .8),
      medium: (ms(4), .8),
      large: (ms(5), .8)
      ),

    h4-map: (
      null: (ms(1), .8),
      small: (ms(2), .8),
      medium: (ms(3), .8),
      large: (ms(4), .8)
      ),

    h5-map: (
      null: (ms(1), 1.4),
      small: (ms(1), 1.4),
      medium: (ms(2), 1),
      large: (ms(3), 1)
      ),

    h6-map: (
      null: (ms(0), 1.2),
      small: (ms(0), 1.2),
      medium: (ms(1), 1),
      large: (ms(1), 1)
      ),
    );


h1 { @include typi(h1-map) }
h2 { @include typi(h2-map) }
h3 { @include typi(h3-map) }
h4 { @include typi(h4-map) }
h5 { @include typi(h5-map) }
h6 { @include typi(h6-map) }

h1, h2, h3 {
  text-transform: uppercase;
}


h1, h2, h3, h4, h5 {
  margin: .6em auto;
  font-family: 'Raleway-Black';
}
h6 {
  margin: .6em auto;
  font-family: 'Raleway';
}

.heading__font-italic {
  font-family: 'Raleway-BlackItalic';
}

.heading__font-thin {
  font-family: 'Raleway-Thin';
}

body, p { @include typi(base) }



