// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors \\

// Grays

$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;
$white:                     #ffffff !default;

// Content Colors

$brand-primary-default: #3E83CE; //rgb(62, 131, 206), main blue
$brand-primary-light: #66A3DA; //rgb(102, 163, 128), light blue
$brand-primary-dark: #0072BB; // rgba(0, 114, 187, 1), dark blue (language button)
//$brand-primary-dark: #2C3D58; // Dark Blue, where'd this come from ???

$cta-primary: #ED662C; // Orange: (donate button) rgba(237, 102, 44, 1) hsla(18, 84%, 55%, 1)
$cta-secondary: #4BB32A; // Green: Get Involved Green: #4BB32A rgba(75, 179, 42, 1) hsla(106, 62%, 43%, 1)

$accent-color:$cta-primary;

//Font Colors
$brand-primary-text-default: $brand-primary-default;
$brand-primary-text-light: $brand-primary-light;

// 1 off Colors
$countdown-bg: #273A5B; // rgb(39, 58, 91);

// Utility Colors
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
$brand-inverse:             $gray-dark !default;

// Themeing Bootstrap https://getbootstrap.com/docs/4.0/getting-started/theming/
$theme-colors: (
  "cta-primary": $cta-primary,
  "cta-secondary": $cta-secondary
);


.bg-cta-primary {
  background: theme-color(cta-primary);
}

.bg-cta-secondary {
  background: theme-color(cta-secondary);
}
