.alerts-sign-up__section-wrapper {
	//padding-left:3em;
	//padding-right:3em;
}

.alerts-sign-up {
	background-color: $gray-lighter;
	min-heigh:665px;
	padding:1.5rem 1rem .5rem 1rem;
}

.alerts-sign-up__col1 {
	//padding-left: 0rem;

}


.alerts-sign-up__col2 {
	padding-top: 2rem;
//	background-color: orange;
}

.alerts-sign-up__title, legend {
	color:$brand-primary-default;
	margin-top: 1.5rem !important;
	margin-bottom: 1.5rem !important;
}



.alerts-sign-up__title {
	font-size: (-10%);
}
.alerts-sign-up__form-list {
	width:100%;
}

.alerts-sign-up__form-list {
	li {
		font-size:1em;
		color:red;
		margin-bottom: 10px;
		width:100%;
	}	
}

li.alerts-sign-up__list-item--zip,
li.alerts-sign-up__list-item--mobile {
	display: inline-block;
	width:48%;
}
li.alerts-sign-up__list-item--mobile {
float:right;
}


.alerts-sign-up__dnc-logo {
	display: block;
	margin:2rem auto 0 auto;
	height:auto;
	position: relative;
	width:25%;

}

@media screen and (min-width:768px) and (max-width: 992px){
	
	
	.alerts-sign-up__dnc-logo {
		width:25%;
	}	
	.alerts-sign-up__col2 {
	//padding-top: 2rem;

	}
}

@media screen and (min-width: 993px){  
	.alerts-sign-up__form-list {
		width:77%;
	}
	.alerts-sign-up__col1 {
	padding-left: 2rem;

	}
	.alerts-sign-up__col2 {
		padding-top: 2rem;

	}
	.alerts-sign-up__section-wrapper {
		padding-left:3em;
		padding-right:3em;
	}
}
