/*

section.petition {
	padding-bottom: 0;
}

.petition__wrapper {
	background-image: url('../images/lighthouse-placeholder.jpg') !important;
	background-size: contain;
} 
*/



$contrib-div-height:108px;


.call-to-action {
	padding-bottom: 0;
	padding-top: 0 !important;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}



@media screen and (min-width:525px) {
	.call-to-action {
		//padding:0 5% 3em 5%;
	}
}

.call-to-action__contribute-wrapper {
	height:$contrib-div-height;
	background-color: $brand-primary-light;
	left: 0;
	right: 0;
	margin: auto;
	position:absolute;
	top:-54px;
	
	width:100%;
	z-index:2;
	@include box-shadow-default;
}




@media screen and (max-width:768px) {
	.call-to-action__contribute-full-width { display: none;}	
	.call-to-action__contribute { display: block;}
}
@media screen and (min-width:769px) {
	.call-to-action__contribute-full-width { display: block; }	
	.call-to-action__contribute { display: none; }
}	

.call-to-action__contribute-hdr-wrapper {
	background-color: $brand-primary-default;
	
	
	//position: absolute;
	//top:0;
	//bottom:0;
	//left:0;
	//right:20%;
	height: $contrib-div-height;
}
.contribute-hdr-wrapper-default {
	display: block;
	height:40px;

	text-align: center;
	width:100%;
	-webkit-clip-path:none;
	clip-path: none;
}
	
.contribute-hdr-wrapper-full-width { 
	display: inline-block;
	height: $contrib-div-height;
	width:33%;
	-webkit-clip-path: polygon(0% 0%, 76% 1%, 100% 50%, 77% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 76% 1%, 100% 50%, 77% 100%, 0% 100%);	
}

.call-to-action__contribute-title {
	color:#fff;
	font-family:'Raleway', sans-serif;
	font-weight: 900;
	letter-spacing: 1.5px;
}
.contribute-title-default {
	font-size: 1em;
	line-height: 40px;
	margin:0;

}
.contribute-title-full-width {
	font-size:1.4rem;
	line-height: 108px;
	margin: 0 0 0 5%;
}

.call-to-action__donor-perfect-btns {
	//display: inline-block;
	//height:108px;
	//position: absolute;
	//right:0;
	//top:0;
	//width:66%;	
}
.donor-perfect-btns-default {
	display: block;
	height:68px;
	position: relative;
	width:100%;
}
.donor-perfect-btns-full-width {
	display: inline-block;
	height:108px;
	position: absolute;
	right:0;
	top:0;
	width:66%;	
}
.call-to-action__contribute-btn-list {
	align-items: center;
	display: flex;
	//height: 108px;
	
	list-style-type: none;
	padding: 0;
	width:100%;
	justify-content: space-around;
	
	li {
		display: inline-block;
	}
}

.contribute-btn-list-default {
	height:68px;
}

.contribute-btn-list-full-width {
	height: $contrib-div-height;
}

.call-to-action__contribute-btn-amount {
	background-color: #fff;
	border:none;
	border-radius: 3px;
	color: $brand-primary-default;
	font-family:'Raleway-Black', sans-serif;
	padding:5px 10px;
	text-align: center;
}

.call-to-action__action-wrapper {
	padding:0 0%;
	
}

@media screen and (min-width: 768px) {
	.call-to-action__contribute-wrapper {
		width:80%;
	}
	.call-to-action__action-wrapper {
		padding:0 5% 5% 5%;
	}
	.call-to-action__contribute-title {
		font-size: 1em;

	}	

}

.call-to-action__register, .call-to-action__volunteer, .call-to-action__find-polling {

	//padding:4rem 0 1.4rem 0;
	padding:94px 0 3.5rem 0;
	text-align: center;
	width:33.33%;
	z-index:1;
}

.call-to-action__register, .call-to-action__find-polling {
	background-color: lighten($brand-primary-default, 42);	

}
.call-to-action__volunteer {
	background-color: lighten($brand-primary-default, 30);
}


svg[class*="call-to-action"][class$="-icon"]:not([class*="unique"]) {
	fill:$brand-primary-default;
	margin:0 auto 1.4rem auto;
	display: block;
	//width:100% !important;
}

.call-to-action__action-title {
	display:inline-block;
	color:$brand-primary-default;
	font-family: 'Raleway-Black', sans-serif;
	//font-size: 2.2rem;
	font-size: .85rem;
	//margin-top:1.2em;
	line-height: 1.2;
	text-transform: uppercase;
	width:82%;
	@media screen and (min-width: 581px) {
		font-size: 1.2rem;
	}
	@media screen and (min-width: 769px) {
		font-size: 1.5rem;
	}
	@media screen and (min-width: 1025px) {
		font-size: 2.1rem;
	}
	@media screen and (min-width: 1110px) {
		font-size: 2.2rem;
	}
}

.cta-hover:hover {
	svg.icon {
 		fill:$accent-color;
	}	
	span {
		color:$accent-color;	
	} 
}

@media screen and (min-width:450px) {
	.call-to-action svg.icon {
		margin-bottom:1.4rem;
	}
}
 
