.countdown {
	background-color:$countdown-bg;
	display:block;
	align-items: center;
    color:#fff;
    min-height: 24em;

    /* justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    */
    text-align:center;
    width:100%;
}

h1.countdown__title, .countdown h2 {

    text-align:center;
    width:100%;
}

.countdown__clock {
    font-family: sans-serif;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    //font-size: 30px;
    margin: 2em 0;
}

.countdown__display-item {
    padding: 10px 8px;
    border-radius: 3px;
    background: #3e5c93;
    display: inline-block;
}

.countdown__display-item > span {

    padding: 10px;
    border-radius: 3px;
    background: #71859F;
    display: inline-block;
    font-size: 1rem;
    margin-bottom: 5px;
}

.countdown__smalltext {
    padding-top: 5px;
    //font-size: 16px;
    font-size: .75rem;
}

@media screen and (min-width:360px) {
    .countdown__display-item > span {
        font-size: 1rem;
    }
    .countdown__smalltext {
        font-size: 16px;
    }
}

@media screen and (min-width:412px) {
    .countdown__display-item > span {
        padding:15px;
        font-size: 2rem;
    }
    h5.heading__font-thin {

        width:80%;
    }
}

h5.heading__font-thin {
    line-height: 1.6;
}
