.petition {
  padding-top: 0;
}

.petition__heading {
  color: $gray-lightest;
  @extend .heading__font-italic;
}

.petition__wrapper {
  @include clearfix;
  display: inline-block;
  overflow: auto;
}
