@import "common/variables";

.targets__section-wrapper {
	padding-left:2rem;
	padding-right:2rem;
}

.targets__title {
	color:#fff;
}

.targets {

	border-top: 40px solid #ed662cd1;
	border-bottom: 40px solid #ed662cd1;
	padding: 40px 0; 
	background-image: url('../images/trump-thumbs-up-bw.png');
  	background-position: center center;
	background-repeat: no-repeat;
  	background-color: $cta-primary;
  	background-blend-mode: multiply;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	font-weight:  900;
	font-style: italic;
	}	
.title_targets{
	text-align: center;
	font-size: 4vw;
	color: $white;
	width: 86%;
	margin: 0 auto;
	text-transform: uppercase;
}
.person_block{
	display: inline-block;
	vertical-align: top;
	margin-top: 8vw;
	padding:0px; 
	text-align: center;
}
.targets_republican{
	display: inline-block;
	vertical-align: top;
	position: relative;
	cursor: pointer;
	padding: 5%;
	background: #fff;
	-webkit-box-shadow: 4px 4px 15px 0px #000000;
	-moz-box-shadow: 4px 4px 15px 0px #000000;
	box-shadow: 4px 4px 15px 0px #000000;
	img{
		max-width: 100%;
	}
}


.person_name{
	margin-top: 6vw;
	text-align: center;
	color: $white;
    margin-top: 40px;
	font-size: 1vw;
}
.targets__person-district {  
	color:#fff;
	font-size: 1rem;
}
.first_group_person{
	font-size: 0px;
}

@media (max-width: 767px) {
 .targets .person_block .person_name{
  margin-top: 15px;
  font-size: 3vw;
  min-height: 17px;
  overflow: hidden;
 }

}




/* MY TEMP */
.target__list {
	padding:0;
}

.targets__list-item {
	margin-bottom: 2rem;
}

.targets__list-item img {
	width:60%;
	border:solid 7px #fff;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	@include box-shadow-default;
}

.targets__target-name, .targets__target-district-name, .targets__target-district-number {
	color: #fff;
	text-align: center;
	font-family: Arial;
	display: block;
	margin-top: 15px;
}
