.tools-module{
	font-family: 'Raleway', sans-serif;
	font-weight:  900;
	font-style: italic;
	
	text-transform: uppercase;

}


.tools-module__title{
	width: 90%;
	margin: 0 auto;
	font-size: 4vw;
	color: $brand-primary-default;
    line-height: 3.5vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
	text-transform: uppercase;
}
.tools-module__list-item{
	text-align: center;
}
.tools-module__call-image{
	max-width: 40%;
	margin-top:10px;
	margin-bottom: 5px
}
.tools-module__donate_image{
    max-width: 40%;
    margin-top: 20px;
    margin-bottom: 25px;
}
.tools-module__donate-labtop-image{
	max-width: 40%;
    margin-top: 20px;
    margin-bottom: 25px;
}

.tools-module__info_block{
	display: inline-block;
	text-align: center;
	width: 200px;
	height: 200px;
	background:$cta-secondary;
	border-radius: 100%;
	color: #fff;
}
.tools-module__info_title{
    line-height: 1.5vw;
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.ivent_map{
	position: relative;
	text-align: right;
	margin-top: 5vw;
}
.ivent_title{
	text-align: center;
	font-size: 3vw;
	color: $brand-primary-default;
	margin-bottom: 20px;
}
.submit_event{
	color: $brand-primary-default;
	position: absolute;
  	bottom: 21%;
    font-size: 1.4vw;
    left: 38%;
}
.point1{
    right: 19%;
    top: 20%;
}
.point2{
	top: 30%;
    right: 32%;
}
.point3{
    top: 43%;
    left: 42%;
}
.point4{
    top: 61%;
    right: 18%;
}
.point5{
    right: 18%;
    bottom: 1%;
}
.point6{
    bottom: 6%;
    right: 9%;
}
.points img{
	max-width: 100%;
}

.points{
	max-width: 6%;
	position: absolute;
}
.ivent_map img{
	max-width: 70%
}

.last_news{
	margin-top: 5vw;
	padding-left: 50px;
}
.last_news_title{
	text-align: center;
	color: $brand-primary-default;
	font-size: 3vw;
    margin-bottom: 5vw;
}
.list_posts{
	color: $brand-primary-default;
    font-size: 1.5vw;
}
.list_text{
	text-transform: capitalize;
}
.list-item{
	margin-bottom:2vw;
}

.left_hr{
	position: relative;
    height: 20px;
    width: 13%;
    display: inline-block;
    margin-right: 9%;
    &:before{ 
		content: "";
		position: absolute;
		height: 5px;
		width: 100%;
		right: 0px;
		background: $brand-primary-default;
		border-radius: 2px;
     }
    &:after{
    	top: 60%;
    	content: "";
		position: absolute;
		height: 5px;
		width: 60%;
		right: 0px;
		background: $brand-primary-default;
		border-radius: 2px;
    }
}
.right_hr{
	position: relative;
    height: 20px;
    width: 13%;
    display: inline-block;
    margin-left: 9%;

    &:before{ 
		content: "";
		position: absolute;
		height: 5px;
		width:100%;
		left: 0px;
		background: $brand-primary-default;
		border-radius: 2px;
     }
    &:after{
    	top: 60%;
    	content: "";
		position: absolute;
		height: 5px;
		width: 60%;
		left: 0px;
		background: $brand-primary-default;
		border-radius: 2px;
    }
}

.tools-module__join_image{
	max-width: 50%;
}


@media (min-width: 1200px) {
	.tools-module__call-image{
		margin-top: 20px;
	}
	.tools-module__info_block{
		height: 290px;
		width: 290px;
	}
	.tools-module__donate_image{
		margin-top: 35px;
	}
	.tools-module__donate-labtop-image {
	    max-width: 50%;
	    margin-top: 39px;
	}
}

@media (max-width: 992px) {
.tools-module__list-item{
	margin-bottom: 40px;
}
 }


@media (max-width: 767px) {

	.tools-module__info_title{
		line-height: 16px;
	}
	.last_news{
		padding-left: 15px;
	}
	.left_hr:before,.right_hr:before{
		// width: 50px;
		height: 3px;
	}
	.left_hr:after,.right_hr:after{
		// width: 30px;
		height: 3px;
	}
	.last_news_title{
		font-size: 20px;
	}
	.list_posts{
		font-size: 14px;
	}
	.ivent_title{
		font-size: 16px
	}
	.submit_event{
		font-size: 9px;
	}
	.tools-module__title{
		font-size: 16px;
		line-height: 18px;
	}
}
