
	
@import "common/variables";

.targets{
	border-top: 40px solid #ed662cd1;
	border-bottom: 40px solid #ed662cd1;
	padding: 0px;
	//background: url(../img/bg_img.jpg) no-repeat center center;
	background-image:url('../images/trump-thumbs-up-bw.png');
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	font-weight:  900;
	font-style: italic;
	background-repeat: no-repeat;
	min-height:759px;
	width:1200px;
	position: relative;
	.title_targets{
		text-align: center;
		font-size: 4vw;
		color: $white;
		width: 86%;
		margin: 0 auto;
		text-transform: uppercase;
	}
	.bottom{
		margin-left: 4%;
	}
	.person_block{
		display: inline-block;
		vertical-align: top;
		margin-top: 8vw;
		padding:0px; 
		text-align: center;
		.avatar{
			display: inline-block;
			vertical-align: top;
			position: relative;
			cursor: pointer;
			padding: 5%;
			background: #fff;
			-webkit-box-shadow: 4px 4px 15px 0px #000000;
			-moz-box-shadow: 4px 4px 15px 0px #000000;
			box-shadow: 4px 4px 15px 0px #000000;
			.cart{
			    width: 100%;
			    height: 100%;
			    position: absolute;
			    -webkit-transition: -webkit-transform 1s;
			    -moz-transition: -moz-transform 1s;
			    -o-transition: -o-transform 1s;
			    transition: transform 1s;
			    -webkit-transform-style: preserve-3d;
			    -moz-transform-style: preserve-3d;
			    -o-transform-style: preserve-3d;
			    transform-style: preserve-3d;
			}
			.front,.back{
				position: absolute;

			}
			img{
				max-width: 100%;
			}
		}

		.person_name{
			margin-top: 6vw;
			text-align: center;
			color: $white;
		    margin-top: 40px;
    		font-size: 1vw;
		}
	}
	.person_content{
		padding: 40px 0px;
		float: left;
		background: #ed662cd1;
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
	}	
}

h1.targets__title {
	color:#fff;
}

.first_group_person{
	font-size: 0px;
}



@media (max-width: 767px) {
 .targets .person_block .person_name{
  margin-top: 15px;
  font-size: 3vw;
  min-height: 17px;
  overflow: hidden;
 }

}