// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}


/* NYDEMS DEFAUT BASE FORM */

.nyd-form-base {
  background:transparent;
  padding:2em;
}

.nyd-form-base__fieldset {
  display: block;
  width:25rem;
  
  font-size: 100%;
  label {
    display: none;
  }
}

.nyd-form-base__input {
    border-radius: 2px;
    border: 0;
    color:$brand-primary-default;
    font-size: inherit;
    
    padding: 12px;
    
    font-size: 1rem;
    font-style: italic;
    padding-left:1.2rem;
    padding-top: 1.5rem;
    padding-bottom:1.5rem;;
    
    text-transform:uppercase;
    transition: all 2.5s;
    width:100%;
    &:focus {
        outline: none;
        border-color: rgba(0,0,0,.5);
      }
  }
  
  @media screen and (min-width: 581px) {
    .nyd-form-base__input {
      font-size:1.2rem;
  }
}  
 .nyd-form-base__input--submit {
  background-color:$brand-primary-default;
  color:#fff;
  cursor:pointer;
  font-family: 'Raleway-Black';
}

.nyd-form-base__input--submit:hover {
  background-color: darken($brand-primary-default, 40);


}
 
fieldset.nyd-form-base__fieldset {}

legend.nyd-form-base__legend {
  font-family: 'Raleway-Black', sans-serif;
  margin:0 auto;
  text-align: left;
  text-transform: uppercase;
}

ul.nyd-form-base__list-interest {
  li {
    color:$brand-primary-default;
    margin-bottom: 15px;
    label {
      font-size: 1.6rem;
    }
  }
}



input[type="checkbox"] {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  position: relative;
  top: 6px;
}

/* HERO PETITION FORM */
.hero-petition__form-demo-wrapper {
  background-image: url('../images/blue_skies.jpg');
}
.hero-petition__form-demo {
  background-color:transparent;
  margin-top: 1.5rem;
  padding:4em 2.5em;
}
.hero-petition__fieldset {
  display: block;
  width:25rem;
  
  font-size: 100%;
  label {
    display: none;
  }
}
.hero-petition__input-group {
  label {
    display: none;
  }
}

input.hero-petition {
    border-radius: 2px;
    border: 0;
    font-size: inherit;
    
    padding: .75rem;
    font-size:1.5rem;
    
    text-transform:uppercase;
    transition: all 2.5s;
  &:focus {
      outline: none;
      border-color: rgba(0,0,0,.5);
    }
  }

.hero-petition__email {
 margin-bottom: 10px;
  width:100%;
}  

.hero-petition__zip-code {
  float:left;
}

.hero-petition__email, .hero-petition__zip-code {
  color:$brand-primary-default;
  font-style: italic;
}

.hero-petition__zip-code, .hero-petition__submit {
  width:47.5%;
}

.hero-petition__submit {
  color:#fff;
  float:right;
  font-family:'Raleway-Black', sans-serif;
  background-color: $brand-primary-default;
}

input.hero-petition:not('type="submit"') {
  background-color: #fff;
  color:$brand-primary-default;
  font-family: 'Raleway-Thin';

}

input[type="submit"].hero-petition__submit {
  background-color: $brand-primary-default;
  text-transform: uppercase;
}  

input[type="submit"].hero-petition__submit:hover {
  background-color:darken($brand-primary-default, 40);
  
}

/* Tony Star Float Labels
 * src: https://codepen.io/tonystar/pen/JRLaKw
 * Default styling
 * https://github.com/tonystar/float-label-css/blob/master/scss/float-label.scss
 */
 
.has-float-label {
  @include float-label-container;

  @include float-label;

  select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }

  input, select {
    @include float-label-input;
    font-size: inherit;
    padding-top: 1em;
    margin-bottom: 2px;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid rgba(0,0,0,.1);

    @include float-label-scaled {
      top: .25em;
    }

    &:focus {
      outline: none;
      border-color: rgba(0,0,0,.5);
    }
  }

  select {
    padding-right: 1em;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .5em bottom .25em;
    background-size: 8px 10px;
  }
}

.input-group {
  display: table;
  width: 100%;
}
.input-group > * {
  display: table-cell;
  width: 50%;
}

