footer {
	background-color:$gray-light;
	color:#fff;
	padding-top: 1.5rem;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.footer__nav-donate {
//	border:1px solid red;
	position: relative;
	display: block;
	width:100%;
}

.footer__nav-donate > div{
	//border:1px solid red;
	display:block;
	width:100%;
}

.footer-nav__main {
	color:#fff;
	display: block;
	font-family: $font-family-sans-serif, sans-serif;
	font-weight: 500;

	text-transform: uppercase;
	li {
		text-align: center;
		font-size: 1.5rem;
		margin-bottom: 25px;
		width:100%;
	}
	a {
		color:inherit;
		&:hover {
			color:$accent-color;
		}
	}
}

.footer__donate-btn {
	display: block;
	font-size: 1.8rem;
	font-weight: 900;
	letter-spacing: 1px;
	margin:0 auto 25px auto;
	padding:.5rem 2rem;
	text-transform: uppercase;
	width:80%;
	@include box-shadow-default;
}
.footer__courtesy-nav-wrapper {
	//border:1px solid red;
	width:100%;	
}

.footer__courtesy-nav {
	display: block;
	margin-bottom: 0;
	width: 100%;
	li {
		color:#fff;
		display:block;
		margin-bottom: 25px;
		text-align: center;
		width:100%;
		a {
			color:inherit;
			&:hover { color:$accent-color; }
		}
	}
}

h5.footer__title {
	
	background-color: $gray-lightest;
	border-radius: 2px;
	color:#000;
	display: block;
	font-family: $font-family-sans-serif;
	
	margin:0px auto 10px auto;
	padding:1.5rem .65rem;
	text-align: center;
}

@media screen and (min-width:769px) {
	.footer__nav-donate {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 2.2rem;
	}
	.footer__nav-donate > div{
		display: inline-block;
		width:72.5%;
	}
	.footer-nav__main {
		display: flex;
		justify-content:space-between;
		li {
			margin-bottom: 0;
			width:auto;
		}
	}
	.footer__donate-btn {
		width:auto;
	}
	.footer__courtesy-nav-wrapper {
		//border:1px solid red;
		margin:0 auto;
		width:60%;	
	}

	.footer__courtesy-nav {
		display: flex !important;
		justify-content: space-between !important;
		width: 100%;
		li {
			display: inline-block;
			width:auto;
			}
		}
	.footer__title {
		margin:25px auto 10px auto !important;
	}

}


@media screen and (min-width:769px) and (max-width:992px) {
	.footer-nav__main {
		li {
			font-size:1.25rem;

		}
	}
	.footer__nav-donate > div{
		width:72.5%;
	}
	.footer__donate-btn {
		margin:0;
		font-size: 1.6rem;
		padding:.5rem 2rem;
	}
	.footer__title {
		width:80%;
		padding-left:.65rem;
		padding-right:.65rem;
	}

}


@media screen and (min-width:993px) {
	.footer__nav-donate > div{
		width:75%;
	}
	.footer-nav__main {
		li {
			font-size:1.75rem;
			
		}
	}
	.footer__donate-btn {
		margin:0;
		font-size: 2rem;
		padding:.5rem 2.5rem;
	}
	.footer__title {
		width:75%;
		//padding-left:.65rem;
		//padding-right:.65rem;
	}
}


footer address {
  @extend h6;
  margin-bottom: 1.5rem;
}

h6 {
	width:100%;
	text-align:center;
	margin-bottom: 0;
}

svg.footer__brand-logo {
  fill:gold;
  color: gold;
}
