#header-tools {
  float: right;
  ul {
      list-style: none;
      li {
       a {
        @extend .btn;
        @extend .btn-sm;
        @extend .btn-cta-secondary;
        padding: 0 !important;
       }
      }
    }
}


.navbar-brand svg, .navbar-brand png, .navbar-brand gif {
  max-width: 100%;
  height: auto;
}

.navbar__bottom-title {
  left: 0;
  bottom: 0;
  z-index: 10;
  color: $brand-primary-default;
  text-align: left !important;
  padding-left: 15px;
  white-space: nowrap;
}

.navbar {
  border: 1px solid red;
  width: 100%;
  padding: 0 !important;
}

@include media-breakpoint-up(md) {
  .navbar__cta-button-wrapper {
    display: -ms-flexbox !important;
    display: flex !important;
    justify-content: flex-end !important;
    -ms-flex-pack: end !important;
  }
}


