.container-fluid, .main {
	padding-left:0 !important;
	padding-right:0 !important;
}

.section-wrapper {
	padding-top: 2.5rem !important;
	padding-bottom: .75rem !important;
	padding-left:2rem;
	padding-right:2rem;
}

@media screen and (min-width:768) {
	.section-wrapper {
	
	}
}


/*
@media screen and (min-width:768px) {
	padding-left:3rem !important;
	padding-right:3rem !important;
} */

